main-color = #9D2445
highlight-color = #C4337D
alternate-color = #585858
paragraph-color = #40545D
title-color = #3E525B
background-color = #f2f2f4
footer-color = #3E525B
min-width = 750px

placeholder()
  ::-webkit-input-placeholder/* WebKit, Blink, Edge */
    {block}
  :-moz-placeholder/* Mozilla Firefox 4 to 18 */
    {block}
  ::-moz-placeholder /* Mozilla Firefox 19+ */
    {block}
  :-ms-input-placeholder /* Internet Explorer 10-11 */
    {block}
  :placeholder-shown /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    {block}

.connective
  clear:both
  padding 1em
  font-family hurme-geometric-bold
  font-size 1.4em
  color title-color
  font-weight bold
  letter-spacing: 2.5px;

.title
  text-align center
  font-family: hurme-geometric-light
  padding-bottom 3%
  font-size: 1.3em
  color: paragraph-color
  letter-spacing: 3.5px;

.social_login
  color #fff
  position relative
  text-align center
  float left
  font-family hurme-geometric-light
  width 100%
  height auto
  padding 10px 0px 0px 0px

buttonText()
  font-size 1.15rem
  letter-spacing: 1.5px;

::-webkit-input-placeholder{
  color: main-color
  buttonText()
}

input
  buttonText()

.joinButton
  padding-top: 1.5em

.facebookText
  buttonText()
  padding-left: 1em
  position relative
  top: 10%
  vertical-align:middle

.submitElement
  margin 0 auto
  width : 300px
  buttonText()

.submitElement input
  width 100%

.movedImage
  position relative
  top 25%
  height:50%

.social_login div
  max-width 300px
  font-size 16px
  line-height 24px
  width 50%
  height 43px
  display inline-block
  position relative
  background-color #0D47A1
  +below(min-width,use-device-width: true)
    width 250px

.email_login,.email_signup
  position relative
  float left
  width 100%
  height auto
  margin-top 20px
  text-align center
  +below(min-width,use-device-width: true)
    margin-top 0px

.form_group
  width 100%

.form_spaced
  margin-bottom 10px

.form_group label //Para el floatingLabel
  font-size .85em

.form_group input[type="text"],
.form_group input[type="email"],
.form_group input[type="password"]
  height 45px
  outline none
  border 1px solid #ddd
  padding 0 10px
  border-radius 2px
  color #333
  -webkit-transition all 0.1s linear
  -moz-transition all 0.1s linear
  transition all 0.1s linear
  &:focus
    border-color #358efb

.form_group input[type="submit"]
  max-width 300px
  background-color #9D2445
  border none
  outline none
  color #fff
  padding 14px 0
  border-radius 0px
  text-transform uppercase
  &:hover
    background-color highlight-color
  +below(min-width,use-device-width: true)
    width 250px


.bottomLink
  position relative
  top: 1em
  color paragraph-color
  font-family hurme-geometric-light

.login_button
  width 50%
  max-width 400px
  background-color #9D2445
  border none
  outline none
  color #fff
  padding 14px 0
  border-radius 0px
  text-transform uppercase
  &:hover
    background-color #AD5455

input:-webkit-autofill {
    color red !important;
}

.bottomLink a
  width 50%
  text-align left
  text-decoration underline
  color paragraph-color !important
  text-decoration: none;

.bold
  font-family hurme-geometric-bold

square(side)
  width: side
  height: side

.avatar
  text-align center
  square(100px)
  overflow: hidden;
  border-radius 50%
  margin: 4em auto 2.5em auto

.avatar img
  width: 100%
  overflow: hidden

::-webkit-input-placeholder/* WebKit, Blink, Edge */
  color paragraph-color
  text-align center
  font-size 1em
  letter-spacing 5px
:-moz-placeholder/* Mozilla Firefox 4 to 18 */
  color paragraph-color
  text-align center
  font-size 1em
  letter-spacing 5px
::-moz-placeholder /* Mozilla Firefox 19+ */
  color paragraph-color
  text-align center
  font-size 1em
  letter-spacing 5px
:-ms-input-placeholder /* Internet Explorer 10-11 */
  color paragraph-color
  text-align center
  font-size 1em
  letter-spacing 5px
:placeholder-shown /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color paragraph-color
  text-align center
  font-size 1em
  letter-spacing 5px

.explanatoryMessage
  color paragraph-color
  font-size 1.15em
  letter-spacing 2px
  margin 0 auto
  margin-top 3%
  margin-bottom 3%
  width: 70%

.thanksTitle
  font-weight bold
  color title-color
  letter-spacing 2.5px
  font-size 1.2em
  margin-top 1.8em
  margin-bottom .4em
  font-family hurme-geometric-bold
  width 100%
  text-align center

.inline
  display inline-block

.genderSelection
  margin 0 auto

.genderToggle
  transform translateY(35%)

genderLabel()
  transform translateY(65%)
  color main-color

.womanLabel
  float left
  genderLabel()

.manLabel
  float right
  genderLabel()

.ageGroupDiv
  margin-top 2em
  margin-bottom 2em
